beautifulsoup4==4.12.2
numpy==1.24.3
scipy==1.11.1
selenium==4.15.1
undetected_chromedriver==3.5.2
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability